# Secrets
.env

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Test artifacts
.pytest_cache/
.coverage
